body {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 0px;
}

h1,
h2 {
    text-align: center;
}

span {
    color: #037BC0;
}

ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 5px;
}

main {
    display: inline;
}

button {
    color: white;
    margin: 0 auto;
    background-color: #8cbc01;
    border-radius: 12px;
    width: 200px;
    height: 40px;
}

img {
    margin-top: 10px;
    margin-right: 10px;
    width: 500px;
}

.product {
    display: flex;
    justify-content: center;
    margin: 0px 10px 0 10px;

}

.description {
    background-color: #037BC0;
    margin: 0px 10px 0 10px;
    text-align: center;
}